<ul>
  <li>Login – Normal Login</li>
  <li>Login – SSO (Sign In with Google, Sign In with Microsoft)</li>
  <li>Workspace Switch</li>
  <li>Module List</li>
  <li>Feature List</li>
  <li>Components</li>
  <li>Feature Data – Create, View, Edit, Clone, Delete</li>
  <li>Dashboard</li>
  <li>Integration – Weighing Machine, Third-Party API (Budgie, SAP), and Payment Gateways (Stripe, Razorpay, and PayU)</li>
  <li>Theme</li>
  <li>Push Notification</li>
  <li>Workflow – Approve and Reject</li>
  <li>Charts – Feature Data</li>
  <li>Data Table – Feature Data</li>
  <li>Security – Prevent copy, paste, cut, and text selection</li>
</ul>
